[2020-08-12 22:15] ElZombieIsra opened #3 "Error while parsing empty lists"
**Describe the bug**
I get and error of type `Cannot read property 'type' of undefined` while trying to parse empty lists.

**To Reproduce**
Steps to reproduce the behavior:
1. Open VsCode
2. Copy or select the example JSON
3. Try to convert it to a Dart Model through any method you like
4. VsCode shows an error window with the text before mentioned

**Expected behavior**
The extension generates s

[2020-08-14 08:10] #3 closed

[2020-09-08 09:27] ansarizafar opened #6 "File system provider is not available"
I am getting this error. Is there anything I can do to solve this issue.
[code]

[2020-09-08 09:36] hiranthaR commented on #6
@ansarizafar Can you check with a new project, please. It is like something went wrong with the Windows file system path. I can fix this, but I have an exam these days. Do you need the fix immediately?

[2020-09-08 15:17] ansarizafar commented on #6
Without the fix the extension is not useable. It would be great If you can fix it as soon as possible.

[2020-09-08 19:24] ElZombieIsra commented on #6
Hi @ansarizafar , can you provide your system info and the steps to follow to reproduce this error?

I can probably look into this @hiranthaR

[2020-09-08 19:29] hiranthaR commented on #6
@ElZombieIsra Thank you very much. looks like windows provide `workspace.rootPath` ([index.ts](https://github.com/hiranthaR/Json-to-Dart-Model/blob/master/src/index.ts) line 188) as like E:\Projects\Restock format.

[2020-09-13 14:56] hiranthaR commented on #6
@ansarizafar Temporary fixed. I'll fix it after my exam :slightly_smiling_face:

[2020-09-13 14:56] #6 closed

[2020-10-19 14:14] jaredbaszler opened #7 "Object Is Not Interable"
When running on a full JSON file with multiple object types and arrays, I get the following error:

![image](https://user-images.githubusercontent.com/9924084/96461691-4c984880-11ea-11eb-8f48-1f60d3a0e9f6.png)

Things work fine if I highlight `tour` and `season` and do them by themselves.  What is really odd though it when I highlight the `tournaments` JSON object, it works and handles all the chi

[2020-10-19 18:03] hiranthaR commented on #7
@jaredbaszler I will check this as soon as possible :slightly_smiling_face: I am bit busy these days with my intership

[2020-10-19 18:16] hiranthaR commented on #7
File System Provider for .... is not a error. its warning something like that. I think you will get this in every conversion right?
There was a problem with the Windows OS FIle path.
Users can give models folder him self to the extension. In linux, Its works fine. In Windows file path address like this C:\users\ but path read by the extension is like this C:/users/ so vs code APIs can't open folde

[2020-10-20 18:37] iamarjun commented on #7
Getting the same error all of a sudden, used to work flawlessly earlier. @hiranthaR same issue on OSX as well.

[2020-10-26 04:00] jaredbaszler commented on #7
Any progress on this?

[2020-12-22 13:39] iamarnas opened #8 "Effective Dart style."
**Describe the bug**
Would it be possible follow effective dart style guides.

**Screenshots**
![Skärmavbild 2020-12-22 kl  14 26 53](https://user-images.githubusercontent.com/42679871/102893922-9871a300-4462-11eb-8ca2-1d19e0edb752.png)

**Version**
version: 2.4.1

[2020-12-22 13:52] hiranthaR commented on #8
I'll try to manage my time for this. thank you for the suggestion

[2020-12-22 14:37] iamarnas commented on #8
@hiranthaR Hi again.

I found one bug to. Most of API providers use word `get` in their json files you can see in my bild example. And when your extension generate code his create `String value` with name `get` which is reserved by system. I recommend to regenerate this to example: `class Products {}` generate `String getProtucts` instead `String get`.
![Screenshot_20201222_151709_org.mozilla.fire

[2020-12-27 17:07] iamarnas commented on #8
@hiranthaR  Hi,
 I have updated your app syntax.ts file and you can see how was before and after update.

### Before:
![Skärmavbild 2020-12-27 kl  17 47 30](https://user-images.githubusercontent.com/42679871/103175707-410d7180-486c-11eb-979e-2d76c0d19965.png)
### After:
![Skärmavbild 2020-12-27 kl  17 43 51](https://user-images.githubusercontent.com/42679871/103175710-44086200-486c-11eb-91b8-6d0

[2020-12-27 18:38] iamarnas commented on #8
Today added `copyWith();` method. User can choose before generating files :)

![Skärmavbild 2020-12-27 kl  19 32 35](https://user-images.githubusercontent.com/42679871/103177441-d879c100-487a-11eb-8c8d-88ca27543d2b.png)

[2020-12-28 21:50] hiranthaR commented on #8
@iamarnas hi, I fixed others without copyWith function. I'll do it another day. can you check your requirements are satisfied?

[2020-12-28 22:20] iamarnas commented on #8
@hiranthaR Nice, I'll do it.  I did not expect you to fix it so quickly.  That's why I updated your extension it myself :) If you are interested I can share to you my changes. I have advanced syntax formatting it detect when needs expression function or block function very correct to [dartfmt](https://dart.dev/tools/dartfmt).  And planning to add for to ask user if he want use immutable classes or

[2020-12-28 22:23] hiranthaR commented on #8
@iamarnas oh sorry. I didn't know that. sure open a PR. I'll revert my commits and publish yours. It's totally fine.

[2020-12-28 23:09] iamarnas commented on #8
@hiranthaR  Hi,
Here is your result after new update :)

![Skärmavbild 2020-12-28 kl  23 57 26](https://user-images.githubusercontent.com/42679871/103248010-456b8480-4969-11eb-8b12-70dc1939439e.png)

remove `const` from the constructor for now. It's not immutable class and it will show lint error for all created classes. That why I want add function to ask users if they want use `@immutable` clas

[2020-12-28 23:50] hiranthaR commented on #8
I think we are better to go with your changes

[2020-12-29 10:30] iamarnas commented on #8
@hiranthaR  Hi. Opened a PR. Just needs update the readme-file after new changes. And here your English is better than mine :)

[2020-12-29 10:30] #8 closed

[2020-12-29 11:10] iamarnas commented on #8
How it looks syntax after update.
![carbon(1)](https://user-images.githubusercontent.com/42679871/103279706-b09b7200-49ce-11eb-9f60-9394bb566f91.png)
![carbon](https://user-images.githubusercontent.com/42679871/103279710-b42ef900-49ce-11eb-9948-d5273f5753aa.png)

[2021-01-08 20:57] iamarnas commented on #7
Hi! @iamarjun , @jaredbaszler

I have fixed this bug . Can you test and accept that it meets your needs in the higher version > 2.5.0. Need to wait to @hiranthaR  will update it. And of course test new methods :)

[2021-01-11 07:33] #7 closed

[2021-02-02 16:01] apgapg opened #12 "Json Field case are not respected"
**Describe the bug**

Suppose a json look like this:
[code]

The output freezer class variable would become **camelcase** which will not correctly parse the field as it is in **pascalcase**.
Ideally `@JsonKey(name:'FieldA')` must be there above this variable generated.

**Additional context**
The problem lies in `fixFieldName` method in `helper.dart` which makes field name to camel case

[2021-02-02 18:36] iamarnas commented on #12
@apgapg Hi,
I was working on this right now to add json keys for freeze class. But I see I'm too late :) after merging I will check if everything work well and correct if needs. Thanks for your opinion.

[2021-02-02 18:37] hiranthaR commented on #12
@iamarnas is it ok to merge? I am not updated with flutter these days

[2021-02-02 18:41] #12 closed

[2021-02-02 18:44] apgapg commented on #12
@iamarnas Sure. But I see only the `name` option can be utilized herein `@JsonKey`, others like defaultValue cannot be used here without user consent.
Are there any other you planned to include in JsonKey except name?

[2021-02-02 19:10] iamarnas commented on #12
@hiranthaR Hi,
Is OK. Everything looks good.

@apgapg Hi.

Right now I am working with more accurate generating for deeply nested json files, it is more important right now. What about Freezed I have not more idea just trying keep it clean and thought fix better support for json, need more opinions from users. You opinion is welcom :)

[2021-02-02 20:02] iamarnas commented on #12
@apgapg Hi,

It is possible to add default values ​​from the json file examples, most values ​​have some example values ​​to define value types.  But Freezed has so many options that it is better to leave it to the users consent like you say.  Anyway after generated classes, it is easy to edit. Just edit row and run builder.

[2021-02-04 05:04] apgapg opened #15 "Make generating models directory optional"
When we go into creating different modules in project, everytime I need to delete the extraneous `models` folder and move the inner files into outer parent.
Not everytime one needs to generate models dir. Hence can we have a optional dialog asking to generate models dir?

[2021-02-04 09:11] iamarnas commented on #15
Hi,
 In your situation you should navigate to models map. if not exist create it.
[code]
After when generating is complete. Your map structure should look like this.
[code]
Last map keeps all your generated files in one place and completely separate. Your need just rename it to the base `class` name. Here's how my map structure looks like.

![Skärmavbild 2021-02-04 kl  09 53 08](https://user-imag

[2021-02-04 09:52] apgapg commented on #15
I agree with what you said. Keeping all models in one folder is standard practice. But in my case, each module contains its own model's dir with child being folder for grouping different models.
No worries, one can do manually moving of files after generation. Also, it's a one-time process so no hurt in doing that.

Thanks for the quick reply @iamarnas

[2021-02-04 09:52] #15 closed

[2021-02-04 10:56] apgapg opened #16 "Error when Class name given is same as one of the generated classes"
**Describe the bug**
If let us say we provide class name as `User` and if our json looks like:

[code]

The class generated then contains syntax errors.

**Expected behavior**
An error or some kind of prefix in nested classes name having the exact same names.

[2021-02-04 11:18] iamarnas commented on #16
@apgapg  It has been corrected for the next update ;)

[2021-02-06 20:03] #16 closed

[2021-03-15 11:31] apgapg opened #21 "`return` keyword not handled properly"
**Describe the bug**
`@JsonKey(name: "Return") int return,`

`return` is a dart keyword which causes issues in code gen

[2021-03-15 11:55] iamarnas commented on #21
Hi, @apgapg
Thanks for this report I missed this one :) It's quick fix, just need to add this keyword to the list of reserved keywords.

[2021-03-15 12:11] iamarnas commented on #21
Hi @apgapg
 It's fixed. Just wait when @hiranthaR  will add this.

[2021-03-21 22:42] #21 closed

[2021-03-31 13:04] iamarnas commented on #15
@apgapg Hi,
I have added a new feature to the `Json to Dart Model` generator. Now your can build your modules from the single file. It give you more flexibility and you can configure generator how your want. Maybe you will find answer in this quastion. [Read the documentation.](https://github.com/hiranthaR/Json-to-Dart-Model/blob/master/README.md#convert-from-file)

[2021-03-31 13:38] apgapg commented on #15
@iamarnas This is a cool addition. Having a config file helps to maintain a hardcoded configuration. This will definitely help im future json model managing.

[2021-04-23 05:04] heronlyj opened #30 "The toJson method does not properly transform List<T> type parameters"
The data type is the following

part of `models.jsonc` file:

[code]

Then the generated dart file looks like this (the `toJson` part)

[code]

But the correct toJson code should look like this

[code]

----------------------------------

flutter doctor
[code]

[code]

vscode extension version: `v3.1.1`

[2021-04-23 05:43] iamarnas commented on #30
@heronlyj Hi.
Thank you for your report. I see you use `json_serializable` and I wonder have you same issues without `json_serializable`?

[2021-04-23 07:16] heronlyj commented on #30
@iamarnas Hi.

If `json_serializable` is not referenced, the` xxx.g.dart` file will not be generated 😅

[2021-04-23 07:33] heronlyj commented on #30
@iamarnas Hi.

If  don't use `freezed`, the result is the same, I mentioned the same issuse in

https://github.com/dart-lang/build/issues/3095

[2021-04-23 08:24] iamarnas commented on #30
@heronlyj Hi.

I meant that `Json Serializable` is `false` in your `models.jsonc`

Ok. Your generated JSON with `Json to Dart Model` looks as expected.
[code]
When you use `Freezed` or `Json Serializable` then `Json to Dart Model` generates only types and everything that happens after `Json Serializable` takes care of the rest and is responsible for generated code. Even `Freezed` depends on `Json

[2021-04-23 08:39] iamarnas commented on #30
But thanks to you I found where I missed syntax correction :smiley:

[2021-04-23 11:05] iamarnas commented on #30
I'm closing this because  [issue](https://github.com/dart-lang/build/issues/3095) are with `json_serializable`.

[2021-04-23 11:05] #30 closed

[2021-04-30 12:01] iamarnas commented on #12
@apgapg HI!

You asked about more futures :) The latest version 3.1.5 supports default values and required, [more...](https://github.com/hiranthaR/Json-to-Dart-Model/pull/34)
 All suggestions on how to improve code are welcome.

[2021-07-07 14:31] 2shrestha22 opened #40 "Option to not run build runner after generating JSON to Dart"
This extension is awesome and thanks for developing this. I don't like to run build runner instantly for a single time. I prefer to run build runner with watch mode which I am manually doing while working with freezed. So it will be great to have a option to disable build runner after generating JSON to Dart.

[2021-07-09 13:43] iamarnas commented on #40
@2shrestha22 Hi 👋
Thank you for your suggestion. It is easy to fix. What do you think maybe it's better allow choose run or watch builder in the settings instead to disable it. Or disabling it is the best option. I do not work with Freezed it therefore I ask you what do you think about it.

[2021-07-09 13:50] 2shrestha22 commented on #40
@iamarnas Currently when new freezed data class is created builder runner, opens a new terminal and builds. So I think completely disabling build runner will be a good option because everyone using freezed must have known build runner too. 😀

[2021-07-09 14:45] iamarnas commented on #40
@2shrestha22 OK. Right now I'm on vacation. I fix it when I find free time.

[2021-07-09 14:46] 2shrestha22 commented on #40
@iamarnas ok thank you

[2021-07-10 19:23] #40 closed

[2021-07-10 20:03] iamarnas commented on #40
@2shrestha22 Hi again!

I added option to disable build runner in the `Settings/Extensions/JSON To Dart Model`. Let me know if it works as you expected. Thank you.

[2021-07-12 06:23] 2shrestha22 commented on #40
Which option should we use to disable build runner? I have 4 but it is still running build runner in terminal.
![image](https://user-images.githubusercontent.com/24835256/125240019-3fd3fb80-e309-11eb-9000-8881279a263d.png)

[2021-07-12 08:13] iamarnas commented on #40
@2shrestha22 Hi 👋

 Have you latest version 3.2.5?

[2021-07-12 08:30] 2shrestha22 commented on #40
Yes I have 3.2.5

[2021-07-12 08:36] iamarnas commented on #40
@2shrestha22 Then you would see the new option `Run Builder`.

![builder](https://user-images.githubusercontent.com/42679871/125256301-9dae1680-e2fc-11eb-9445-c1e57043ffa2.png)

[2021-07-12 09:44] 2shrestha22 commented on #40
@iamarnas Let me try again. And I will inform you.

[2021-07-12 11:31] 2shrestha22 commented on #40
Its working now, found new setting as you described. I will suggest a new feature. What about option in Explorer to create model class there?
![Peek 2021-07-12 17-16](https://user-images.githubusercontent.com/24835256/125280535-dff34a00-e334-11eb-8370-2c6d5dbdd302.gif)

[2021-07-12 14:03] iamarnas commented on #40
@2shrestha22 Thanks for suggestion.

This feature should work same as from the clipboard or from the file models just would pick faster target directory. If you setup JSON Dart To Model configuration in the settings and run fast mode. You can generate JSON string in few seconds by using hot keys. Tips: Try hot keys :)

[2021-07-19 06:58] zahidshaikh08 opened #42 "Can't generate model classes gets following exception."
Command 'Json to Dart: Convert From ClipBoard' resulted in an error (Running the contributed command: 'jsonToDart.fromClipboard' failed.)

**To Reproduce**
Generate class using clipboard option

**Expected behavior**
It should generate class normally.

**Screenshots**
![image](https://user-images.githubusercontent.com/59495361/126116239-1a2f2772-c534-4deb-9224-81bd999dfa7e.png)

**Version**
3.2.5

[2021-07-19 08:18] iamarnas commented on #42
@zahidshaikh08 Hi 👋

Thanks for reporting. Right now I'm on vacation. But I will check it whenever possible.
 Have you tried reinstalling this extension?

[2021-07-19 08:23] zahidshaikh08 commented on #42
Yes i tried reinstalling extension multiple times and i even tried in different mac also but returns the same error.

Btw no worries and enjoy vacation :)

[2021-07-19 09:25] iamarnas commented on #42
@zahidshaikh08 I'm working now with commands and already corrected command subscription. With next version will be more option to run converter, for example from right mouse button context. We will see if after next release will be same problem for you ;)

[2021-07-19 09:54] zahidshaikh08 commented on #42
That's great right mouse button context option will be really be helpful and easy to generate model classes TBH.
Looking forward for next release to try it out.

And thanks for your quick feedback and wonderful plugin it really helped me a lot after null safety migration.

[2021-07-20 16:06] Miamoto-Musashi opened #43 "file name with .model.dart"
I'm using [Hive Object Converter](https://marketplace.visualstudio.com/items?itemName=mrgnhnt96.hive-object-converter) to introduce Hive notations into models

Would be nice to automate the process and have Json to Dart let me decide the output pattern so that the other plugin can find the generated files

[2021-07-21 15:43] iamarnas commented on #43
@Miamoto-Musashi Hi 👋

Thanks for suggestion. I don't use `Hive` and don't know how it's important. If you should have option to put enhancement filename it's not same as change file name manually?

[2021-07-21 20:46] Miamoto-Musashi commented on #43
Hi @iamarnas,
I'm using jsonc generator as far as I know the only attribute I can play with is __className, to make the other plugin find the models I should use `__className: Address.model` or similar but then I will find that class name everywhere on the code so it would be nice to have Address class generated in address.model.dart file.
Hive is quite popular in the community bye my knowledge.

[2021-07-21 21:52] iamarnas commented on #43
Hi @Miamoto-Musashi

By using the `jsonc` file is a quick fix. I will add this suggestion to the list and try to integrate it as soon as possible and all suggestions how to be possible make it simple as possible for users are welcome. Right now I work with commands subscriptions, for example it will be possible to build `jsonc` file models from the right mouse button context menu.

[2021-07-27 15:54] Miamoto-Musashi opened #44 "plural class name"
**Describe the bug**
models from array struct are generated in plural forms

**To Reproduce**
given the json

[code]

and using json generation the model generated is

[code]

**Expected behavior**
Class name should be `Page`

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
3.2.5

**Json**
see above

**Additional context**
using Jsonc file generation

[2021-07-27 16:03] Miamoto-Musashi opened #45 "class reference in generated classes"
would be nice to have the possibility to put object type in the json

[code]

only way to have the country not String type is put it as `null` and use the `dynamic` type on conversion.
Would be nice to have the feature to put the Country object instead...

using jsonc generation probably we can use some kind of placeholder //@Country@ ?

just a quick idea

[2021-07-27 16:41] iamarnas commented on #44
@Miamoto-Musashi Hi.

I would not say that it's a bug. In this case `JSON` key `pages` for list object used for value name for type names as `List<Pages>` and for unnamed list object inside the `pages` list. It possible to remove `s` letter but I don't know if not defect names and I'm not sure if all plural have `s` at the end? Need to test.

[2021-07-29 08:49] zahidshaikh08 commented on #42
Hello @iamarnas any update on this as i am still not able to use this plugin in mac although windows plugin works perfectly.

[2021-07-29 10:20] iamarnas commented on #42
It is underway and there is not much left.  I will completely change the quality of the settings and you will see big difference.

It stange. Looks like bug is not from my side 😕

[2021-07-29 10:34] iamarnas commented on #42
@zahidshaikh08 can you try to clean `VC Code` cache folder?

[2021-07-30 07:25] zahidshaikh08 commented on #42
I tried clearing cache and even completely reinstalled vs-code but the problem still persists the same as before.

Thats very strange i don't know why its happening?? i even tried in different mac and in that mac also problem is still the same.

Did you tried in different mac??

[2021-07-30 07:26] zahidshaikh08 commented on #42
https://github.com/hiranthaR/Json-to-Dart-Model/issues/42#issuecomment-888995365

Thats great :) till then i will be waiting for your update on this issue.

[2021-07-30 10:11] Miamoto-Musashi commented on #44
yes Is in the middle from a bug and an enhancement, let's say the expected behavior is to have List<Page> objects in the array not Pages, probably a simple implementation can start removing s at the end but then you need to consider noun like man/men, child/children and so on.

Probably introducing references between objects (see task #45 ) can solve both

Best

[2021-07-30 10:38] Miamoto-Musashi commented on #15
would be definitely very useful to have this option for 2 reasons:

1- it is annoying to have to move all generated models from inner directories, if I use other transformations on the models after generation I would like them to be in one single folder
2- there is the option that the inner folders contains same generated object referenced twice on the json

do you think we can reopen this request

[2021-07-30 11:07] iamarnas commented on #15
@Miamoto-Musashi Hi 👋

This generator separates classes to different files and `models` folder, does not allow to mix them with others files in the same folder. You just need to rename it however you want.
 Men this will be improved with the next release. It will be possible to select the directory from the right mouse button context 😉

[2021-07-30 12:30] iamarnas commented on #44
@Miamoto-Musashi I have consulted with a friend who speaks English. And he said that it would work 99% to remove only `s` at the end for the rest 1% he not garante 😁
 I will fix it as soon as possible.

[2021-07-31 16:20] iamarnas commented on #42
@zahidshaikh08 Hi,

You can test the new version and see if still throw an error. And of course, try new [features](https://github.com/iamarnas/Json-to-Dart-Model#context-actions)

[2021-07-31 16:30] iamarnas commented on #15
@Miamoto-Musashi Hi,

 Can you test the new [features](https://github.com/iamarnas/Json-to-Dart-Model#context-actions) now and look if match your preferences. Would be nice to hear your opinion if it is possible to improve something more when it comes to easily run the conversion.

[2021-08-02 04:34] zahidshaikh08 commented on #42
Hi @iamarnas,

I tried new version in mac and it seems like issue is resolved as i was able to generate model classes as usual as before.

Thank you for your quick support and thanks for building such a nice and useful tool for folks like us. 🙏

[2021-08-02 05:26] iamarnas commented on #42
Hi @zahidshaikh08

I am very happy to hear that it was resolved and hope that it never happens again 🤞

[2021-08-02 06:36] zahidshaikh08 commented on #42
I am closing this issue as its resolved now.

[2021-08-02 06:37] zahidshaikh08 commented on #42
Closing this issue as it's resolved now. 🤗

[2021-08-02 06:37] #42 closed

[2021-08-02 21:03] iamarnas commented on #45
Hi @Miamoto-Musashi

I think is bad practice to generate objects as null . It will show lint errors without `Object` class and it not possible generate class without the properties. And you will be forced to implement everything manually into `County` class.

[code]

[2021-08-06 19:28] iamarnas commented on #43
Hi @Miamoto-Musashi

I added file name enhancement to the latest version. To test it you just need to separate your class name with a dot and after the dot, everything will be added as an enhancement name. Example: `className.enhancementName`. Can you test and see if it works as you expected?

[2021-08-07 20:56] Miamoto-Musashi commented on #45
I will test it with pleasure, how to update the extension?

[2021-08-08 08:14] Miamoto-Musashi commented on #45
How can I then tell the generator that I want the `country` property to be of type `Country` class?
at them moment the only workaround I found is to put null in the jsonc file so that the generator create the property with a dynamic type and I can compile.

thanks

[2021-08-08 08:26] Miamoto-Musashi commented on #43
yes working, thank you.

very minor enhancement is the lint option, using [dart linter](https://github.com/dart-lang/lints) the generated code violates `sort_constructors_first` rule

[2021-08-08 08:45] iamarnas commented on #45
You can tell to the generator by adding empty brackets `{}` then the generator will generate an empty class without parameters instead of dynamic. But you will need to correct it a little bit to avoid lint errors.

[code]
I will look at this how-to it can be improved without lint errors.

[2021-08-08 08:53] iamarnas commented on #43
@Miamoto-Musashi

Then now I can update documentation?

It is a quick fix that i can add to the settings option with the next version.

[2021-08-08 09:54] iamarnas commented on #45
@Miamoto-Musashi HI.

I fill fix it with this solution.

[code]

[2021-08-08 10:35] Miamoto-Musashi commented on #45
In real life I would probably prefer to have another Country object declared in jsonc file and refer to that one.
having an empty Country object can be misleading.

[2021-08-08 10:46] Miamoto-Musashi commented on #43
probably __className should become __fileName since it is really driving the file name just for clarity

[2021-08-08 11:04] iamarnas commented on #45
@Miamoto-Musashi
It not easier to be better generate an empty object and changes the import from the right mouse button context to navigate to the implemented class.

[code]
Or I do not understand what really you mean!?

[2021-08-08 11:16] iamarnas commented on #43
It not really driving the only file name. The `__className` is a base class name that holds all `JSON` generated context and is used for a file name for the map name and for syntax. I thought a lot about how I would describe this key to users and become that `__className` most used and most familiar to beginners.

[2021-08-08 14:10] Miamoto-Musashi commented on #45
yes it is easier as a workaround but I see this tool to help with automation, boilerplate and portability if I have to adjust every generated class by hand its loosing some of the util

what I think would be useful is some kind of reference from one object in the jsonc file to another object in the same jsonc file

[2021-08-08 14:30] iamarnas commented on #45
You using this generator as tool to speed up coding? Such changes will throw the error by overriding Dart classes from `JSON`

[2021-08-08 17:21] Miamoto-Musashi commented on #45
not sure to understand; say we have a User object and a Country object and a reference from Country to User like a 1:N relation in RDBMS; we can have the Country generated with a ref to User object,

in json notation would become:

 off course if there is already a Country object  it's going to be overridden or you can check if already exists and throw a warning but link the 2 objects.

I think th

[2021-08-15 13:32] Ascenio commented on #44
Just would like to add that there's some cases where trimming `s` isn't enought. Imagine `countries` for example, it should be changed to `country`, but then there might be i18n issues because I'm not sure if it's always enough to replace `ies` with `y`.

[2021-08-15 13:51] iamarnas commented on #44
@Ascenio Thanks for the correction. You are right.

[2021-08-18 13:42] #44 closed

[2021-08-20 11:01] Miamoto-Musashi commented on #43
probably we can close this one?

[2021-08-20 11:07] Miamoto-Musashi opened #51 "force key type"
would be nice to be able to force property type
suppose we have:
[code]
this will  create 2 useless objects `Updated` and `Created`, would be nice instead to tell json2dart to create the corresponding properties in the class as Date objects

probably to follow the naming pattern can be:

[code]

[2021-08-20 13:35] iamarnas commented on #43
@Miamoto-Musashi Sure, if you not have any issues with this we can close this. I have waited until you test it properly.

[2021-08-20 14:12] iamarnas commented on #51
@Miamoto-Musashi Hi 👋

Here are all supported date formats.
[code]
To tell that you want a date object just copy and paste one of the formats and the generator will detect it.
[code]
Or your mean to speed up the coding by adding the date keyword?

[2021-08-21 15:47] Miamoto-Musashi commented on #51
@iamarnas thx for clarifying, is it documented the date feature?
my request BTW is not only for dates but for every type like User: ("`issuer.user": {}`)

[2021-08-21 16:01] iamarnas commented on #51
@Miamoto-Musashi Can you provide me an exact example with raw JSON and final Dart code?

No 😄 But I can add this, np.

[2021-08-21 16:02] Miamoto-Musashi opened #53 "json schema support"
a clean and shared way to describe the model is json schema there are dart generators out there but none of them is really well working; probably there is room to be in a good niche market.

[2021-08-21 16:22] Miamoto-Musashi commented on #15
Sure, you don't have to mix the files it's enough to replace with the last one, if the genereted contains errors we notice by compilation issue

[2021-08-21 16:23] Miamoto-Musashi commented on #15
the context generation works well ;)

[2021-08-21 16:27] Miamoto-Musashi commented on #51
Hi @iamarnas
[code]

would generate something similar to:
[code]

somewhere else we defined the Cargo, Candidate objects

[2021-08-21 20:57] iamarnas commented on #51
@Miamoto-Musashi  Would look like this with enhancement.

[code]
It can be fixed but you would need to manually handle your empty objects. It is not possible to provide results without any parameters.

[2021-08-21 22:14] Miamoto-Musashi commented on #51
the objects wouldn't be empty by my example in jsonc file you can find in the root the definition of the Candidate object when generated everything would be consistent.

[2021-08-21 23:40] iamarnas commented on #51
@Miamoto-Musashi A question. What wrong if you put `Candidate` directly to the list, why you need it separated, when you can initialize it directly?

[2021-08-21 23:47] Miamoto-Musashi commented on #51
@iamarnas I need it to be separated cause is referenced in other json but with smaller attribute set, what I do today is to generate it from the root with __className, move all dart models `mv lib/commons/models/**/*.dart lib/commons/models`, put null in all other references and adjust at the end with a find in files command.
If I don't put it in the root other copies of the class will overwrite t

[2021-08-23 12:58] Miamoto-Musashi opened #54 "enum support"
would be nice to have enums support

[2021-08-23 15:23] iamarnas commented on #54
@Miamoto-Musashi I thought about it a long time ago to implement it. String list convert to enum. Example:
[code]

[2021-08-23 20:31] iamarnas commented on #51
@Miamoto-Musashi HI :wave:
 Can you try and test forcing key types. It's supported in the last version. And as a bonus, you can test the override path in the `models.jsonc`. You can navigate your object as you want and where you want.

#### Example:
[code]

[2021-08-24 15:10] Miamoto-Musashi commented on #51
on a first run seems working fine, thank you.
will make some more test on this week and let you know

[2021-08-24 15:11] #43 closed

[2021-08-24 15:13] Miamoto-Musashi commented on #54
rather than
[code]

I think is more consistent with rest of notation

[code]

[2021-08-25 09:03] Miamoto-Musashi commented on #51
I have this json

[code]

the trailer type model on the root is generated correctly with the underscore and camel case perfectly balanced (only style warning sort constructors before other members)

[code]

but the trailer type in equipment is generated with wrong name in file and in class file name should be `trailer_type.dart` but is `trailertype.dart`

[code]

[2021-08-25 09:29] iamarnas commented on #51
@Miamoto-Musashi Thanks for this reporting I will fix it fast as possible.

[2021-08-25 16:27] iamarnas commented on #51
@Miamoto-Musashi I found the problem. The problem is in your code, to tell the generator where you want uppercase you need separate words by uppercase or dash. Otherwise, the generator takes it as a word.
#### Example:
[code]

Do you know that you can enable in the settings sort constructors first?

[2021-08-26 17:11] Prn-Ice opened #56 "Multiple model.jsonc files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently I can create a general `models.jsonc` in the root of my project that generates all my models in one folder.

### Expected Behavior

I use something similar to reso coders clean architecture and all my models are not to be stored in one folder but within the feature for which they we

[2021-09-02 16:51] Miamoto-Musashi opened #58 "[BUG] double conversion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

during json conversion of doubles the code does

`double a = json['a'] as double`

in case the double does not contains a .0 the dart assumes is an int and gives error; a better conversion I think would be

`double a = json['a']==null ? null: json['a'].toDouble()`

### Expected Behavior

pars

[2021-09-02 19:06] iamarnas commented on #58
@Miamoto-Musashi Hi 👋

Thanks for this report. It was just these days that I was thinking about how to improve it, and I come to the this solution.
### Example:
[code]
The parsers should correct the numbers. What do you think?

[2021-09-03 05:05] iamarnas commented on #58
@Miamoto-Musashi can you test my methods?

[2021-09-04 19:13] Prn-Ice commented on #56
Thanks a lot, I'll check it out.

[2021-09-05 09:49] iamarnas commented on #58
@Miamoto-Musashi Hi. In my tests, it works as expected without a problem. What about a generator that if the `JSON` value returns `integer` then the generator generates it as an `integer`. It is not possible to predict that the user wants to convert the `integer` to `double`. You must tell to the generator by casting `.0` if you want a `double` value. Otherwise, you as a developer must convert val

[2021-09-05 16:26] Prn-Ice commented on #56
Wow, it woorks thank you.

[2021-09-05 16:27] #56 closed

[2021-09-05 17:55] Miamoto-Musashi commented on #58
Hi, in my tests for some reason the short `json['key']??json['key'].toDouble()` version does not work; only the long `json['key']==null?null:json['key'].toDouble()`  version works, strange behavior...

You can predict what kind of value the developer want by inspecting the original field, in my case I'm trying to get back a field declared double in my class

[code]

[2021-09-05 18:15] iamarnas commented on #58
@Miamoto-Musashi But this `99.99` is `double` value and of course it will be converted as `double`. When you adding null check then your not have error. I feel you do something wrong by overriding `fromJson() ` method. And it throw the error with all doubles for you?

[2021-09-05 19:22] Miamoto-Musashi commented on #58
the converter detect is double but before the conversion was `as double` now the `toDouble()` works better

[2021-09-06 07:35] iamarnas commented on #58
@Miamoto-Musashi  I do still not believe that casting as `double?` does not work for you.
- Do you use Dart null safety?
- Can you try the same thing with JSON serializable and see if you get the same error?
- And if possible let me see a little example of how you cast JSON data.

[2021-09-08 18:21] Prn-Ice opened #59 "[BUG] Models not overridden when you re-run Build Models"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Say I have the following in my `models.jsonc`

[code]

If I added a new field to the above json and rerun build models, I get told that `db_options.dart` already exists.
I then have to delete the previously generated file and rerun the command for it to build successfully.

### Expected Behav

[2021-09-08 19:10] iamarnas commented on #59
@Prn-Ice Hi :wave:

 Here is not a bug, the generator work with duplicates files in this way and guarantees to not override old files. Because this generator split the big nested JSON objects into separate files and is a big risk to override some important files by mistake. For example, hand modified or well documented. And it's documented that if you want to update files you need to delete old on

[2021-09-08 20:49] Miamoto-Musashi commented on #58
I don't enable Null-safety
to introduce json serializable I would need null safety or older version that would mess with my dependencies, can't try now.
I can confirm null aware operator fails while simple version does not

does not fails
[code]
fails
[code]

I assume dart is making some shortcut on the null-aware version that does not work properly...

[2021-09-08 21:07] iamarnas commented on #58
@Miamoto-Musashi Hi 👋
Ok. You still use Dart without Null-safety. Then you can be forced null check sometimes. I not thought to implement it for older Dart SDK because with null-safety it not needs. But I can add some option to enable it for all properties.

[2021-09-08 21:13] Miamoto-Musashi opened #60 "support open api schema"
is getting default for lots of services and probably is a good starting point for almost every definition

[2021-09-09 02:40] Prn-Ice commented on #59
I see, thanks.

[2021-09-09 02:40] #59 closed

[2021-09-09 15:54] iamarnas commented on #56
@Prn-Ice Hi. I need to test one more secret feature.
[code]
Report any issues. Have a fun coding 😉

[2021-09-09 18:05] iamarnas commented on #60
@Miamoto-Musashi Hi. Can you give me more details about open API schema?

[2021-09-09 18:48] iamarnas commented on #58
@Miamoto-Musashi  Hi. Can you test this method if it work.
[code]

[2021-09-10 08:48] Miamoto-Musashi commented on #60
it's a mature schema backed by many major players you can find more info on [official site](https://swagger.io/specification)
version 3.0 is the more usable one and there are dart plugins you can integrate into your tool

[2021-09-10 09:37] iamarnas commented on #60
@Miamoto-Musashi This is not a big priority. In the first I need to optimize this one first 😁 Here already exist some package like [swagger dart code generator](https://pub.dev/packages/swagger_dart_code_generator).

[2021-09-15 07:37] iamarnas commented on #58
@Miamoto-Musashi Hi 👋
 I have implemented double values conversion following Google principles. But to add if null check feels like it is not worth it because Dart language with null safety does not need it and most of the users I think migrating to Null-Safety and this method will be unuseful in the future.

[2021-09-15 07:44] iamarnas commented on #51
I'm closing it because no see issues with it at the moment. Open the new issues report if you have some problem that relates to this.

[2021-09-15 07:44] #51 closed

[2021-09-15 08:07] Miamoto-Musashi commented on #58
@iamarnas I understand your thoughts, pls keep in mind that one of the reason I started using your extension is exactly the availability of json conversions without null safety; the reason is because going trough the null safety upgrade if you come from an old version is a nightmare and in this scenario I was looking for something to avoid json_serializable since it produce null-safety version of

[2021-09-15 08:15] iamarnas commented on #58
@Miamoto-Musashi Ok, I will add an option for null check for non-null safety Dart < 2.12. It is not so much work. Maybe it will be done today.

[2021-09-15 08:17] Miamoto-Musashi commented on #58
@iamarnas probably you can drive the choice checking the user setting to produce null-safe or not-null-safe code

[2021-09-15 08:21] iamarnas commented on #58
@Miamoto-Musashi I will add an option in the settings` includeIfNull = false`. You will need just to enable it and it will work only if null safety is disabled.

[2021-09-15 08:22] iamarnas commented on #58
@Miamoto-Musashi and only for `fromJson` method. Or you need for `toJson` to ?

[2021-09-15 08:23] Miamoto-Musashi commented on #58
@iamarnas I think you don't need a new option, you can use the `jsonToDart.nullSafety` setting

[2021-09-15 08:25] iamarnas commented on #58
@Miamoto-Musashi I know, but maybe someone wants to keep a cleaner code.

[2021-09-15 08:26] iamarnas commented on #58
@Miamoto-Musashi what about `toJson` method?

[2021-09-15 08:30] Miamoto-Musashi commented on #58
yes Imean if the user checked the segment to go for null-safe version you produce the code with null-safe otherwise you produce the null check code, is more important to have a version that does not brake before it is clean

[2021-09-15 08:34] iamarnas commented on #58
@Miamoto-Musashi  Ok I think you are right.

[2021-09-15 08:37] iamarnas commented on #58
@Miamoto-Musashi Maybe better I will add an option, because this generator if null safety is enabled then generates everything for dart null safety it cants be enabled for both versions.

[2021-09-15 09:34] iamarnas commented on #58
@Miamoto-Musashi It was published, please tell me if some can be improved better. For example, include it in the `toJson` method.

[2021-09-16 21:01] arcas0803 commented on #45
Hi,
Any progress on how to parse refs?
I think it's a better solution to use '@ClassName' because sometimes the field name it's not the same as the class name.
Example:
`{photo: @File}`
Thanks for the amazing plugin.

[2021-09-16 22:18] iamarnas commented on #45
@arcas0803 Hi :wave:
 Maybe you looking for that.
[code]

[2021-09-17 11:29] iamarnas commented on #45
@arcas0803 It is in beta right now when it will be stable. I will update the documentation. You can play with it and test. Any suggestion is welcome. Have fun with coding.

[2021-09-24 02:47] Prn-Ice opened #64 "[BUG] Duplicate models generated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have the following models declared in my `models.jsonc`

[code]

After building models, the `data.walletAddress` class is generated twice, even though its the exact same model.

### Expected Behavior

Since the same model is declared twice, build only the first and reference it in the other

[2021-09-24 06:23] iamarnas commented on #64
@Prn-Ice Hi 👋
By changing the path to the same object you tell to the generator that you want the same object in the different place.
In your case, your `jsonc` should look like that:
[code]
You are welcome to describe more your opinion if I not understood you right.

[2021-09-24 08:22] iamarnas commented on #64
@Prn-Ice I need
I see you work a lot with the `jsonc` file and I need your opinion. What do you think if I move the path to the options object?
#### The `JSON` object options should look like this:
[code]
Then you can use it in this way:
[code]
This setup would allow configuring different output options for every JSON object.

[2021-09-24 16:53] Prn-Ice commented on #64
@iamarnas  Looks good.

[2021-09-24 17:16] Prn-Ice commented on #64
@iamarnas thanks, your solution worked, I'll leave the issue open while we wait for @Miamoto-Mushashi to respond.

[2021-09-24 17:41] Miamoto-Musashi commented on #64
Hi @Prn-Ice and @iamarnas,
in my experience you can have two patterns: all models in one folder than the setting should be global, one model for every module or feature implemented (like in clean architecture patterns) in this case every object have his path.
Best option should be to have a global setting overwritten, just in case, in the jsonc file

[2021-09-24 18:36] iamarnas commented on #64
@Miamoto-Musashi It should be two patterns. First if you not put options to the json object the default options automatically will read from settings. Second you can override by adding options to the object. User can decide how to owerride.

[2021-09-25 06:56] iamarnas commented on #64
@Miamoto-Musashi I think if user have possibility create path to every module his can build clean architecture patterns self.

[2021-09-28 08:07] iamarnas opened #65 "Best practice for configuring JSON objects in the `models.jsonc` file"
# Proposal
Right now JSON to Dart model allows an override path for every JSON object by working with `models.jsonc` file and default global configuration reads from the extension settings. To add more options and make more customizable outputs my recommended method is 👇
#### Recommended options:
[code]
#### Current options:
[code]
#### We'd have:
[code]
If someone has a better solution please sug

[2021-09-28 08:14] iamarnas commented on #64
I made another issue that originates from this issue.
Since this particular one is finished I will close the issue.

Thank you for your recommendations:
@Miamoto-Musashi
@Prn-Ice

[2021-09-28 08:14] #64 closed

[2021-09-28 14:54] Prn-Ice commented on #65
This looks good, but if it's at all possible, I'd rather have separate `models.jsonc` files for each module.
I'm currently working on a medium-sized project and my `models.jsonc` file is already getting pretty long.

[2021-09-28 16:05] iamarnas commented on #65
I understand 😄 I personally comment every class and use hotkeys to fold everything.

 Everything is possible, only time and work are required. I have created `models.jsonc` file for easier and faster edit JSON objects and automate the work as much as possible. By splitting models file you will be forced to build your own builder options to tell the generator how you want to generate. That needs ju

[2021-09-29 15:54] Prn-Ice commented on #65
@iamarnas that would be very useful, but only if I don't have to delete all the previously generated models first.

[2021-09-29 16:11] iamarnas commented on #65
@Prn-Ice It would not override generated models it would add only the new models. Json to Dart Model generator not override models and not remove generated models.

[2021-09-29 16:40] Prn-Ice commented on #65
Currently, whenever I add a new model to my models.jsonc and run `build models` brings up a pop-up warning me that one of the old models already exists.

I have to delete all the previous models and re-run just to see the new one.

[2021-09-29 17:53] iamarnas commented on #65
@Prn-Ice It would add only new object from the `jsonc` file. You get warning only when dublicates found. Looks like be changing path to the every `json` object not work as aspected.

[2021-09-29 19:53] Prn-Ice commented on #65
@iamarnas I see, it reads the models.jsonc file from top to bottom thats why.
I didnt add the new model to the top of the list.

[2021-09-30 15:51] iamarnas opened #67 "Does not generate a new object after was deleted"
Does not generate a new object after was deleted from the file `models.jsonc`

[2021-09-30 15:53] iamarnas commented on #67
@Prn-Ice Hi 👋
 I have fixed this hotfix when does not generate a new object after was deleted. Test it with the latest version 3.4.0 and let me know if work it as expected.

[2021-10-01 06:39] iamarnas opened #68 "Generate JSON from the multi files"
Add the ability to generate JSON from multiple files.

Thanks for idea to @Prn-Ice

[2021-10-01 06:52] iamarnas commented on #68
@Prn-Ice Hi 👋
I work now with JSON from multiple files. And my setup now is:
Generator read files from the expected map directory `json_models`. Supported files are `*.json` and `*.jsonc`. Inside the files can be a single JSON object or list with JSON objects, just required to add a class name for every object like always.

Do you have any suggestions with your experience?

[2021-10-04 11:07] iamarnas commented on #67
As of version `3.4.1` Json to Dart Model generator restore any deleted files which are included in the tracked files.

[2021-10-31 02:34] Dichill commented on #6
Hello! Sorry for the very late reply, I didn't check my notifications. It is my first time using this extension so I'm guessing that its the latest update. My operating system is Windows 10 Home, for my methods to convert Json Models is ``Json to Dart: From Clipboard`` and any Json string produces that error. The Directory of my project is ``D:\flutterprojects\my_project`` Location for my Vscode i

[2021-10-31 03:27] iamarnas commented on #6
@Dichill Thank you for your answer I think I know what is problem. I will try to fix with next release.

[2021-10-31 05:36] Dichill commented on #6
@iamarnas Okay, thank you for the quick response, stay awesome!

[2021-10-31 07:13] iamarnas commented on #6
@Dichill Hi. Have you same problem if you convert JSON from the file `models.jsonc` [convert from the file.](https://github.com/hiranthaR/Json-to-Dart-Model#convert-from-file)

[2021-10-31 10:42] Dichill commented on #6
Hello! It works just fine. There were no errors and such, it successfully created a folder and a file.

[2021-10-31 11:27] iamarnas commented on #6
@Dichill Thank you so much for your help.  It was very helpful.

[2021-11-02 11:38] Dichill commented on #6
no problem! Glad I could help :))

[2021-11-03 10:31] iamarnas commented on #6
@Dichill 👋 Could you try the latest version to see if the problem is gone?

[2021-11-03 11:31] Dichill commented on #6
Hello! I tried it again but the problem is still there. Just to clarify here are the steps that I did to test the extension.
1. Copy the Json
`{
    "glossary": {
        "title": "example glossary",
		"GlossDiv": {
            "title": "S",
			"GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
					"SortAs": "SGML",
					"GlossTerm": "Standard Generalized Markup Lang

[2021-11-03 11:37] Dichill commented on #6
Hello again! I restarted VSCode and the error is gone! However the files doesn't get created, it just asks me to select the folder to create the models and once I select the folder no files were generated.

[2021-11-03 11:59] iamarnas commented on #6
@Dichill Thanks for the detailed information.  I'll look into this as soon as possible.

[2021-11-04 04:38] Dichill commented on #6
Hello! It seems to work fine if add annotations e.g.
`{"id":1768,"title":"SM SKATING AND BOWLING","location":"SM Skating Rink","date":"Dec 31, 2021","link":"https://smtickets.com/events/view/9505","image":"https://images1.smtickets.com/images/portrait_02032021100012.jpg"}` -> `{"r@id":1768,"d@title":"SM SKATING AND BOWLING","d@location":"SM Skating Rink","d@date":"Dec 31, 2021","d@link":"https://s

[2021-11-04 06:35] iamarnas commented on #6
@Dichill You don't need use annotation it's only if you want tell to generator that you want expected value generate as required or with default value. Normally you convert raw JSON.

[2021-11-08 17:27] 01FC opened #73 "[BUG] Not creating models"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Trying to create models from clipboard

Ctrl+shift+p (open command pallete)
search for JSON to Dart from clipboard
enter the required data (classes name, etc)

And nothing happens

### Expected Behavior

Trying to create models from clipboard

Ctrl+shift+p (open command pallete)
search for JS

[2021-11-08 18:58] iamarnas commented on #73
@01FC Hi 👋

Thank you for your report. This is a known problem for windows and I hope I have fixed this in the latest version, but am waiting for @hiranthaR when he will update it. For now you can [convert from the file](https://github.com/hiranthar/Json-to-Dart-Model#convert-from-file) until new release.

[2021-11-09 04:13] 01FC commented on #73
downgraded to 3.41 until the issue is fixed. Thanks

[2021-11-09 04:13] #73 closed

[2021-11-14 16:18] iamarnas commented on #73
@01FC Hi 👋

Can you test latest 3.5.3 version to see if no issues?

[2021-11-14 16:20] iamarnas commented on #6
@Dichill Hi 👋

Can you test latest `3.5.3` version to see if no issues?

[2021-11-15 10:27] iamarnas commented on #68
@Prn-Ice Hi 👋

You wanted multiple json file support and now it available in the latest version. Can you test it when you have time and or it's what you expected?

[2021-11-16 12:39] Dichill commented on #6
Hello! Sorry for the late reply, Yes its working great now! Thank you so much :))
Keep up the great work you guys are doing. Its game changing for both me and the flutter community <3

[2021-11-16 13:14] iamarnas commented on #6
@Dichill Nice to hear that you like it and works well without issues. Thank for you help and sorry for my mistakes 🙂

[2021-11-17 07:01] Dichill commented on #6
Its okay :)) programming is all about trial and error :)

[2021-11-24 13:24] jinjilynn opened #78 "number cast to int not double"
[code]

for example, i have a json snippet, and when i use command 'From Clipboard to Code Generation Classes', I get the result of

[code]
is there some config to default num type as double?

[2021-11-24 13:55] iamarnas commented on #78
@jinjilynn Hi 👋 Thank you for reporting.

This is known issue becouse 0.0 is equal to 0 and TypeScript read it as double and integer. Generator just prefer integer in this situation. To get double you need just correct to double as in the example below 👇

[code]
I will try to fix it when I I'll have free time.

[2021-11-24 14:22] jinjilynn commented on #78
ok,thank you

[2021-11-24 14:22] #78 closed

[2021-11-25 15:22] anilghimire133 opened #79 "[BUG] <Command failed: cscript /Nologo c:\Users\\.vscode\extensions\hirantha.json-to-dart-3.5.0\node_modul>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

Generate JSON to dart class from JSON file.

### Steps To Reproduce

_No response_

### Version

[code]

### Relevant JSON syntax

[code]

### Anything else?

_No response_

[2021-11-25 15:24] anilghimire133 commented on #79
![image](https://user-images.githubusercontent.com/22236736/143467585-ba038dc4-ace1-4352-8bf6-c8a97e18f667.png)

[2021-11-25 16:34] anilghimire133 commented on #79
When I copied the JSON file and generated the model JSON to dart. It just create a folder for class and couldn't create a class for JSON to dart? I am using windows 10.

[2021-11-26 17:32] iamarnas commented on #79
@anilghimire133 Hi 👋

This error comes from `copy-paste` dependency. I have updated to the latest version. You can update to the latest version of the extension and try if still throws an error.

[2021-11-27 13:20] anilghimire133 commented on #79
![image](https://user-images.githubusercontent.com/22236736/143683061-ea41a349-aa7e-458b-aac5-6380257b66e5.png)
I Updated to the latest version. The same error comes.

[2021-11-28 07:21] iamarnas commented on #79
@anilghimire133 Hi

Can you test the latest version `3.5.5`? For me, it works without problems on Windows 10 :)

[2021-11-29 15:44] anilghimire133 commented on #79
hi, @iamarnas Thank you so much it worked.
![image](https://user-images.githubusercontent.com/22236736/143898379-62693082-8ee9-47ca-9050-095b0872f479.png)

[2021-11-29 15:44] #79 closed

[2021-11-30 11:06] iamarnas commented on #67
It closes because there are no more user reports after the fix.

[2021-11-30 11:06] #67 closed

[2021-11-30 11:13] iamarnas commented on #45
Closes it because the generator already supports it and no more reports from users.

[2021-11-30 11:13] #45 closed

[2021-11-30 11:15] iamarnas commented on #58
Closing it because the generator supports it. Welcome to reopen it with more suggestions.

[2021-11-30 11:15] #58 closed

[2021-11-30 11:36] iamarnas commented on #68
Closing it due to #65

[2021-11-30 11:36] #68 closed

[2021-11-30 11:46] iqboladahamjonov opened #82 "It is not generating a dart model from models.jsonc file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am trying to build a dart model based on models.jsonc file from directory ztest, it unfortunately it won't build the file neither with hotkey ctrl + shift + alt + B, nor with command pallete build command. the error says "Nothing to generate from the tracked places". please guide me if I di

[2021-11-30 12:58] iamarnas commented on #82
@iqboladahamjonov Hi 👋

I'm sorry it does not work for you. The error message say att your default directory is empty and not `json` files detected, looks like you put your `json` files to the wrong directory. Your should put your all json files to the generated folder `./json_models`. And run build command.

[code]

[2022-01-02 11:58] iamarnas commented on #82
In my tests it work as expected and closing it due to not answer from the user. Reopen it if problem is still.

[2022-01-02 11:58] #82 closed

[2022-01-27 16:57] Prn-Ice commented on #68
@iamarnas, very sorry for the delayed response, I haven't used the extension in a while because I had to switch focus to an older project that needed a lot of work.

I'll be testing and reporting my experience in the coming days, thank you so much for adding it.

[2022-01-27 17:04] iamarnas commented on #68
@Prn-Ice No problem at all it's not big deal 😉 Hope you will like news features.

[2022-02-11 17:37] Prn-Ice opened #84 "[BUG] Unnecessary collection import"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Each model class contains an import for `collection` and `freezed_annotation`.
`freezed_annotation` already exports `collection`, so this is just a duplicate call.

### Expected Behavior

import only `freezed_annotation` in model classes.

### Steps To Reproduce

1. Create a new dart project

[2022-02-11 17:49] Prn-Ice opened #85 "The annotation 'JsonKey' can only be used on fields or getters dart (invalid_annotation_target)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Models created that contain a JsonKey produce the following lint warning.
[code]

This is fixed by adding
[code]
To the top of the file.

### Expected Behavior

No lint warning

### Steps To Reproduce

1. Create a new dart project
2. Create a freezed model using the plugin from the json text

[2022-02-12 06:55] iamarnas commented on #85
@Prn-Ice Hey there 👋

This is known issue and it come not from the extension side. You can read here how to fix it 👉 [fix.](https://github.com/rrousselGit/freezed/issues/488)

[2022-02-12 07:05] iamarnas commented on #84
@Prn-Ice Thanks for this. I will fix it as soon as possible.

[2022-02-12 10:59] iamarnas commented on #84
@Prn-Ice :wave: I have tested it and I have not encountered any problems. Json to Dart Model generator generate imports for two different packages. Example:
#### json_serializable
[code]
#### freezed
[code]
And as you know `freezed` has both imports for `json_serializable`. The problem is that I can not use `freezed` import for `json_serializable` because not everyone uses a `freezed`, some develo

[2022-02-12 11:30] Prn-Ice commented on #84
I see, thanks

[2022-02-12 11:31] #84 closed

[2022-02-12 11:32] #85 closed

[2022-03-18 07:19] madatr opened #86 "[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hi, Firstly thank you so much for this super package/extension, its very useful.

I think I came across a strange bug when using r@ annotation in the .jsonc file.

When trying to create a class that has a required value object the script fails (does not generate the corresponding file) and re

[2022-03-18 07:28] madatr commented on #86
ps. I tried changing the name of the file from `"r@location.location": {}` to `"r@location.point": {}`  just in case it was confusing the script and it still resulted in the same error.

If it is useful here is the generated CustomerShop class whenever the error happens:
[code]

[2022-03-18 09:52] iamarnas commented on #86
@madatr Hi 👋  and thank you for your very detailed report.

By working with multiple JSON in one file you need to be careful. I see some bad practice. Given your example, you need to wrap your JSON to the list 👇
[code]
Don't do that 👇
[code]
Object naming 👇
[code]
Try to upgrade your JSON and tell us about the problems you are facing :wink:
I will check the required annotation for objects.

[2022-03-18 11:16] iamarnas commented on #86
@madatr I will look at this when I will find a time. For now you can generate without `r@` and add manually `required` keyword.

[2022-03-18 11:17] madatr commented on #86
Take your time, already did :)

[2022-04-25 11:55] Prn-Ice commented on #54
Would this be a simple task, I dont use typescript, but I would like to help add this.

[2022-04-25 13:03] Prn-Ice commented on #54
I'll play around with it, I'll let you know if I give up.

[2022-04-25 14:35] iamarnas commented on #54
Then your tour will be begin in the `constructor.ts` file, class `TypeDefinition` ;)

I will join to when I will finish one project.

@Prn-Ice

[2022-05-19 11:38] heshesh2010 opened #88 "how to merge all json object classes in same dart file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Version

[code]

### Relevant JSON syntax

[code]

### Anything else?

_No response_

[2022-06-01 04:53] globalwebforce opened #91 "How to reference already exisiting Model from another file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Product Model
[code]
Shop Model
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Version

_No response_

### Relevant JSON syntax

_No response_

### Anything else?

_No response_

[2022-06-01 06:53] iamarnas commented on #91
@globalwebforce Hi 👋
If you have the same JSON objects in the different files you can put them into one and the generator will merge them with the imports path. Otherwise, you need to write import path self. In your case, you don't need two JSON objects just merge them into one 👇
[code]

[2022-06-01 10:58] globalwebforce commented on #54
Any Update on this one?

[2022-06-07 11:02] globalwebforce commented on #91
Thank you for your response but I still don't get it sorry :(
In my case, I have 3 JsonObjects A,B,C that needs JsonObject Z (a very big json data).
How can I tell to the 3 JsonObjects to use JsonObject Z (must be required)?

JsonObject Z
[code]

JsonObject A
[code]

JsonObject B
[code]

JsonObject C
[code]

[2022-06-07 12:04] iamarnas commented on #91
You can generate multiple `JSON` to one folder by adding a patch. And generator will remove duplicate files. In your case should be like that 👇

[code]
[code]
[code]
[code]
[code]
@globalwebforce

[2022-06-08 04:06] globalwebforce commented on #91
Oh I get it, I just thought that there could be a shortcut to reference a JsonObect specially if it's very big.
Base on your example, you copy-pasted the whole json structure of JsonObject Z to the other JsonObjects.
Now I know what I'm doing is right, I can now proceed on my Project, Thank you very much!

[2022-06-08 04:06] #91 closed, assigned to nobody

[2022-06-08 05:44] globalwebforce opened #92 "Make 0.0 as double not int when assigning it as a default value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a rating property which has a default value of 0, but can have a value of 0.5, 2.4 etc.
[code]

### Expected Behavior

I was expecting to have a double but instead I received an int

`@Default(0) int rating,  //this must be double`

### Steps To Reproduce

_No response_

### Version

_

[2022-06-08 05:56] iamarnas commented on #91
@globalwebforce You are welcome. Just remember, when you copy and paste `JSON` `Z` structure to `JSON` `A` don't forget change json key as `Z` class name in the `JSON` `A`.

[2022-06-08 06:12] iamarnas commented on #92
@globalwebforce Hi.

I have tried to fix it a long time ago. But problem is that TypeScript calculate 0.0 as 0 becouse in reality is 0 for both double and integer. That why generator can't detect 0.0 as double becouse typescript always return 0. In your case you should write 0.01 as default and later correct in your code to 0.0 it is quick fix. And this issue describes in the documentation.

[2022-07-04 13:12] globalwebforce opened #93 "Support Composition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Is there any support on auto-generating composition? there are some cases that we want a Class to inherit another Class, but as of this time inheritance is not supported by freezed package but there's an alternative called composition. Any insight about this one.
Thank you.

https://github.co

[2022-07-11 17:22] iamarnas commented on #93
@globalwebforce Hi 👋 If I understand you correctly. Composition should work with this generator. But the rest what is not supported  by Freezed it not possible generate. This generator generate only data class from the given json string and the rest generates by Freezed.

[2022-08-01 07:12] hiyangjx opened #94 "how can i custom the class's property name?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

models.jsonc file:
[
    {
        "__className": "history",
        "e_id": "9403"
    }
]
history.dart file:
class History {
  String? eId;

  History({this.eId});

  factory History.fromJson(Map<String, dynamic> json) => History(
        eId: json['e_id'] as String?,
      );

  Map<String

[2022-08-02 04:36] iamarnas commented on #94
@hiyangjx Hi 👋
To change the class property name for primitive values you don't need to annotate anything. Just change `JSON` key name. In your case change `'e_id'` to `'history_id'`.

[2022-08-02 09:46] hiyangjx commented on #94
thanks. but the real json field is e_id, if i changed it in **.jsonc, i will change the following code manually after build every time.
from:
factory History.fromJson(Map<String, dynamic> json) => History(
historyId: json['history_id'] as String?,
);

to:
factory History.fromJson(Map<String, dynamic> json) => History(
historyId: json['e_id'] as String?,
);

[2022-08-02 14:23] iamarnas commented on #94
Dart to Json Model support converting from the local file `**.jsonc` to make easily edit original json files. That if you want another property name you need change json key and generator will generate new updated `JSON` object. Annotation used for anothers options where you can't display in original `JSON` file. But for edit the name for primitive values is no idea to add annotation and change `J

[2022-08-03 09:55] hiyangjx commented on #94
@iamarnas
Thanks for your reply. To put it simply, I just don't know how to use @jsonkey annotation. If I want to get history.swift:
[code]
How can i write models.jsonc?

[2022-08-03 10:10] iamarnas commented on #94
@hiyangjx Aaa, OK, I got it. This generator does not support changing name for primitive values. Only for class elements it possible to change type.

[2022-08-03 13:06] hiyangjx commented on #94
@iamarnas
Thanks, the https://github.com/flutterchina/json_model support this feature, if you need.

[2022-08-03 13:06] #94 closed, assigned to nobody

[2022-08-03 13:19] iamarnas commented on #94
@hiyangjx Thank you for the tips 👍

[2022-08-12 10:49] ghost opened #96 "Support for Android Studio"
Please develop an Android Studio plugin, existing plugins is not really good.

[2022-08-12 11:39] iamarnas commented on #96
@alraj-dev Hi 👋
 You should ask Android Studio developers if they can add functions like that to theys extension, or maybe one day someone will remake this extension for Android Studio. I personally not good with Kotlin.

[2022-08-25 04:00] princ3od commented on #91
I think this cool trick should be noted in the Readme file.

[2022-08-25 10:38] princ3od opened #97 "Support Map type"
It would be great if `Json-to-Dart-Model` supported Map data type as it already supported List.
Currrently, if the key is something like `"key.Map":{}`, it creates a whole new class called Map. I think it should use the existed [Map class](https://api.flutter.dev/flutter/dart-core/Map-class.html) of Dart.
Thank you.

[2022-08-25 14:05] iamarnas commented on #97
@princ3od Hi 👋 Thanks for suggestion.
I wonder you mean [MapView](https://api.flutter.dev/flutter/dart-collection/MapView-class.html)?
#### Example:
[code]
[source](https://github.com/vandadnp/flutter-tips-and-tricks/blob/main/tipsandtricks/spreading-customc-classes-in-dart/spreading-customc-classes-in-dart.md)

[2022-08-26 02:59] princ3od commented on #97
Thanks for replying @iamarnas.
But I mean I have a json as show below
[code]
My expected output will be
[code]
And the Map type should be [Map class](https://api.flutter.dev/flutter/dart-core/Map-class.html) of Dart.
Currently, it will create a new class called Map.

[2022-08-26 05:35] iamarnas commented on #97
@princ3od In this way `"articles.Map": { ... }` you force rename object type with this generator, but it just not work with primitive values. Have you tried it? I don't remember if `Map` is allowed. By using Freezed it would be possible to allow it.

[2022-08-26 06:18] princ3od commented on #97
I tried it and it did not work. So how can I generate a class with a `Map` type field? I see `List` type field is already supported.

[2022-08-26 14:35] iamarnas commented on #97
If it doesn't work then it's not allowed. `List` supported becouse it generates with this generator but `Map` not. Need  to implement.

@princ3od

[2022-08-26 23:08] clivi-kj commented on #97
also looking for this. would be helpful for Firestore conversions.

[2022-08-28 00:56] Prn-Ice commented on #54
Sadly I haven't gotten up to this till now. And after finding [this package](https://pub.dev/packages/freezer), I'm not sure I'll need to.

[2022-08-28 08:27] iamarnas commented on #54
If you want to generate `enum` only with any generator it easy implement. Just need generate a type and generator do the rest. I will look at that. For now I working on another extension as Data Class Generator. It will generate data equal to `Freezed` by one click, and even regenerate by one click or update automatically on save. Also will be possible make functionality enums. Will be more fun 😁

[2022-09-15 15:34] nicolasmol opened #98 "To be closed as mistake of me"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running whatever JSON to DART model from `Selection` or from  `.json_models` folder where I have the following .jsconc

### Expected Behavior

Methods from both classes Question & Answer should be implemented but only the top level ones (Question) are:

[code]

[code]
THIS ONE SHOULD BE LIKE

[2022-09-15 16:12] nicolasmol opened #99 "Target folder persists to be incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Defining my target folder like this
![image](https://user-images.githubusercontent.com/61077647/190454366-9e66cc5e-ec4f-4a5f-aa78-801acdb90cf9.png)
However persists to generate into /lib/data
![image](https://user-images.githubusercontent.com/61077647/190454479-e3d1e3b2-9963-41a1-aff7-9e2a43a

[2022-09-15 16:21] nicolasmol commented on #98
**FOUND THE BUG**
The Answer model is not generated into the correct folder **/lib/app/data/models/question_paper_model",** but into /lib/data/models/question_paper_model", even-though in the settings the default it
![image](https://user-images.githubusercontent.com/61077647/190456400-25160f92-e5a8-4320-a505-979f9404d894.png)

Correlated to https://github.com/hiranthaR/Json-to-Dart-Model/issues/99

[2022-09-15 17:19] #98 closed, assigned to nobody

[2022-09-16 07:45] iamarnas commented on #99
@nicolasmol  Hi 👋
First, I see your `JSON` is not valid for this generator. `JSON` body is an unnamed object and therefore we need to add a class name to avoid typing it manually. So for each `JSON` body, you just need to add a `__className` and `__path` on the top JSON body. The rest objects will be named depending on the keys.
#### Example:
[code]
This is how your JSON should look:
[code]

[2022-10-15 07:55] davaidev opened #100 "[BUG] Class name problem if have same value in JSON (for example value 'list')"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

First problem - when I try to convert JSON to dart model, I have a problem with class name, because one of JSON value is 'list' and plugin create a class with name 'List' that cannot work
<img width="1123" alt="screen" src="https://user-images.githubusercontent.com/113597046/195975207-4bb8fda

[2022-10-17 16:03] iamarnas commented on #100
@davaidev Thank you for reporting this.
 This is known issue, because this generator do not rename reserved types by system. For now you can rename your JSON `list` key and generator will generate all as expected.

[2022-10-17 16:06] davaidev commented on #100
For me is ok, I fixed, just let u know guys about this 2 issues, will be good if u will fix it by adding renaming. Thx for your product!

[2022-11-27 18:37] DanielSmith1239 opened #101 "Combine models into single file"
Hello, is there a way to combine the models into a single file (similar to https://dart-quicktype.netlify.app)?

[2022-11-27 18:40] DanielSmith1239 opened #102 "Only make properties optional when needed"
Hello,
Is there a way to only mark properties as optional when it finds that the value is missing in one instance (like in a list), and otherwise make the property required?

[2022-11-27 20:20] DanielSmith1239 opened #103 "Allow for template customization"
Hello, can you please add a feature for customizing the dart class generation template?